#itinerary-map {
  height: 500px;
  width: 100%;
}

.itinerary {
  .itinerary-input {
    padding: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
  }

  .itinerary-box {
    font-size: 9pt;
    height: 400px;
  }

  ul {
    padding-left: 0;
  }
  li {
    display: inline-block;
    list-style-type: none;
    width: 100%;
    padding: 2px;
    color: inherit;
    cursor:pointer;
    border-radius: 5px;

    &:hover {
      background-color: #eceffa;
    }

    .marker {
      height: 16px;
      width: 16px;
      background-image: url('/images/blue_marker.png');
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      margin: 0;
      padding: 0;
      margin-right: 5px;
    }

    .location {
      display: inline-block;
      width: 80%;
    }

    .delete-icon {
      height: 16px;
      width: 20px;
      margin-top: -2px;
    }
  }
}